#wpwrap {
    background: #F0F1F2 url(../images/texture.png) repeat
}

#adminmenuback {
    z-index: 0
}

#domainmapping-content * {
    font-family: "Lato", Helvetica Neue, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased !important
}

.domainmapping-clear {
    clear: both
}

.domainmapping-tab-switch {
    border-bottom: 1px solid #ccc
}

.domainmapping-tab-switch ul {
    margin: 20px 0;
    padding: 0 0 0 10px;
    list-style: none;
    clear: both
}

.domainmapping-tab-switch li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none
}

.domainmapping-tab-switch a {
    display: block;
    background-color: #f1f2f3;
    margin: 0 6px -1px 0;
    padding: 14px 30px 15px;
    font-size: 16px;
    line-height: 16px;
    color: #aaa;
    text-decoration: none;
    outline: none;
    border: 1px solid #ccc
}

.domainmapping-tab-switch a:hover {
    color: #01b1f3;
    text-decoration: none;
    outline: none
}

.domainmapping-tab-switch a.active {
    color: #464646;
    border-bottom: 1px solid #f9f9fa;
    background-color: rgba(0, 0, 0, 0)
}

.domainmapping-tab {
    margin-top: 10px;
    font-size: 14px;
    line-height: 21px;
    max-width: 1400px
}

.domainmapping-info {
	border: 1px solid #c0f0f0;
    border-left: 3px solid #01b1f3;
    border-left-color: rgba(1, 177, 243, 0.7);
    background-color: #cff;
    background-color: rgba(204, 255, 255, 0.4);
    color: #444;
    padding: 1em 1.5em;
    margin: 1em 0;
	-moz-box-shadow: 0 0 3px #ddd;
    -webkit-box-shadow: 0 0 3px #ddd;
    box-shadow: 0 0 3px #ddd;
}

.domainmapping-info-error {
	border-color: #f0b0b0;
    border-left-color: #f33;
    background-color: #fbb;
}
.domainmapping-registration-error{
    display: block;
    margin-left: 205px;
    padding: 5px;
    margin-top: 5px;
}
.domainmapping-info-success {
	border-color: #c0f0c0;
    border-left-color: #093;
    background-color: #cfc
}

.domainmapping-info-warning {
	border-color: #f0f0c0;
    border-left-color: #cc0;
    background-color: #ffc
}

.domainmapping-info code {
	font-family: monospace !important;
	font-size: 12px;
	padding: 2px 5px;
}

.domainmapping-info > * {
	margin-top: 0;
}

.domainmapping-info > *:last-child {
	margin-bottom: 0;
}

#reseller-options-tab .domainmapping-info > ul {
	list-style: circle;
	padding-left: 20px;
}

#reseller-options-tab .domainmapping-info > ul li {
	list-style: disc;
}

#domainmapping-content .updated {
    padding: 10px 15px;
    margin: 1em 0;
    font-size: 14px
}

.domainmapping-box {
    border: 3px solid #00487f;
    border-top-width: 0;
    background-color: white;
    margin-bottom: 20px
}

.domainmapping-box h3 {
    padding: 5px 10px 7px;
    margin: 0;
    background-color: #00487f;
    color: white
}

.domainmapping-origin {
    color: #01b1f3;
    font-weight: bold
}

.domainmapping-box-content {
    padding: 10px 20px
}

.domainmapping-box-content p {
    margin-top: 0
}

.domainmapping-box .domainmapping-domains-list {
    margin: 0;
    padding: 0;
    list-style: none
}

.domainmapping-domains-list li {
    list-style: none;
    text-align: center;
    padding: 8px 0 10px;
    margin: 0;
    border-bottom: 1px dashed #dfdfdf;
    position: relative
}

.domainmapping-mapped,
.domainmapping-map-primary,
.domainmapping-map-remove {
    position: absolute;
    top: 12px
}

.domainmapping-mapped {
    left: 28px;
}

table.domains .domainmapping-mapped{
    position: inherit;
}
.domainmapping-map-state, .domainmapping-map-state:hover {
    color: black
}

.domainmapping-map-primary {
	right: 26px;
}

.domainmapping-map-remove {
    right: 0;
    color: red
}

.domainmapping-mapped,
.domainmapping-map-state,
.domainmapping-map-primary,
.domainmapping-map-remove {
    text-decoration: none
}

.domainmapping-box .domainmapping-domains-list li > span {
    color: #464646;
    font-weight: bold
}

.domainmapping-box .domainmapping-form {
    text-align: left;
    border-bottom-width: 0;
    margin-top: 10px;
    clear: both;
}

.domainmapping-form input[type="text"],
.domainmapping-form input[type="email"] {
    padding: 5px 10px;
    width: 200px;
    float: left;
    margin: 0
}

.domainmapping-form input.domainmapping-input-domain {
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0
}
.domainmapping-input-prefix{
    float: left;
}
.domainmapping-form input.domainmapping-input-sufix,
.domainmapping-form input.domainmapping-input-prefix {
	border: 1px solid #dfdfdf;
}

.domainmapping-form input.domainmapping-input-domain:active,
.domainmapping-form input.domainmapping-input-domain:focus {
    border-color: #dfdfdf;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.domainmapping-form input.domainmapping-input-sufix {
    width: 30px;
    margin-right: 10px;
    border-left-width: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0
}

.domainmapping-form input.domainmapping-input-sufix.domainmapping-input-empty {
    padding: 5px 0;
    width: 2px;
}

.domainmapping-form input.domainmapping-input-prefix {
    width: 60px;
    border-right-width: 0;
    padding-right: 0;
    margin-right: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
}

.domainmapping-form input.domainmapping-input-sufix,
.domainmapping-form input.domainmapping-input-prefix {
    background-color: #f1f1f1
}

.domainmapping-form select.domainmapping-select-domain {
    float: left;
    background-color: white;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 27px;
    padding: 4px 0;
    margin: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.domainmapping-controls-wrapper {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    float: left
}

.domainmapping-form-submit {
    padding: 5px 20px;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: padding;
    background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow: 0 1px 0 #001c33, inset 0 1px 0 #004f8c;
    -webkit-box-shadow: 0 1px 0 #001c33, inset 0 1px 0 #004f8c;
    box-shadow: 0 1px 0 #001c33, inset 0 1px 0 #004f8c;
    background-image: -moz-linear-gradient(bottom, #003866 0%, #00487f 100%);
    background-image: -o-linear-gradient(bottom, #003866 0%, #00487f 100%);
    background-image: -webkit-linear-gradient(bottom, #003866 0%, #00487f 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #003866 0%), color-stop(1, #00487f 100%));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#003866 0%, EndColorStr=#00487f 100%)";
    background-image: linear-gradient(bottom, #003866 0%, #00487f 100%);
    color: #e2ecf4;
    text-shadow: 0 -1px 0 #002a4c;
    border: none;
    cursor: pointer
}

.domainmapping-form-submit:active {
    background-image: -moz-linear-gradient(bottom, #00487f 0%, #003866 100%);
    background-image: -o-linear-gradient(bottom, #00487f 0%, #003866 100%);
    background-image: -webkit-linear-gradient(bottom, #00487f 0%, #003866 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00487f 0%), color-stop(1, #003866 100%));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#00487f 0%, EndColorStr=#003866 100%)";
    background-image: linear-gradient(bottom, #00487f 0%, #003866 100%);
}

.wp-core-ui .domainmapping-button,
.domainmapping-form-submit{
    margin-right: 3px;
	margin-top: 2px;
}
.domainmapping-button:before{
    margin: 3px 5px 0 0;
}
.domainmapping-invalid-domain,
.domainmapping-need-revalidate {
    color: red;
    text-transform: capitalize;
}

.domainmapping-valid-domain {
    color: green;
    text-transform: capitalize;
}

.domainmapping-wait-status-refresh {
    background-image: url(../images/ajax-loader-small.gif);
    background-position: center center;
    background-repeat: no-repeat;
    height: 21px
}

.domainmapping-domains-wrapper {
    position: relative
}

.domainmapping-locker {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.85);
    background-image: url(../images/ajax-loader-big.gif);
    background-position: center center;
    background-repeat: no-repeat;
    display: none
}

.domainmapping-domains-wrapper-locked .domainmapping-locker {
    display: block
}
.domainmapping-form-hidden #domainmapping-form-map-domain {
    display: none
}

#domainmapping-form-map-domain h4{
    padding-top: 15px;
    border-top: 1px solid #00487f;
}
.domainmapping-form-hidden li:nth-last-child(2) {
    border-bottom-width: 0
}
.domainmapping-hidden{
    display: none;
}

.domainmapping-label {
    width: 200px;
    display: inline-block;
	margin-top: -4px;
}

.domainmapping-descr {
	display: block;
	margin-left: 205px;
	width: 74%;
	font-size: 85%;
	font-style: italic;
	color: gray;
}

.domainmapping-resellers-switch {
    margin: 0;
    padding: 0;
    list-style: none
}

#reseller-options-tab ul li {
    margin: 0;
    padding: 0;
    list-style: none
}

input.domainmapping-radio {
    margin-top: 3px;
    margin-right: 5px
}

.domainmapping-reseller-settings {
    display: none;
    margin-top: 40px;
}

.domainmapping-reseller-settings.active {
    display: block
}

.domainmapping-reseller-settings .domainmapping-label {
	width: 100px;
}

#domainmapping-enom-header {
    background-color: #113D83;
    background-image: linear-gradient(left, #113D83 0, #305AA3 50%, #113D83 100%);
    background-image: -o-linear-gradient(left, #113D83 0, #305AA3 50%, #113D83 100%);
    background-image: -moz-linear-gradient(left, #113D83 0, #305AA3 50%, #113D83 100%);
    background-image: -webkit-linear-gradient(left, #113D83 0, #305AA3 50%, #113D83 100%);
    background-image: -ms-linear-gradient(left, #113D83 0, #305AA3 50%, #113D83 100%);
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0, #113D83), color-stop(0.5, #305AA3), color-stop(1, #113D83))	 		 					 			 
}

#domainmapping-enom-logo {
    height: 60px;
    background-image: url(../images/enom.png);
    background-repeat: no-repeat;
    background-position: 15px 15px
}

#domainmapping-check-domain-form,
#domainmapping-iframe-form,
.domainmapping-iframe-form{
    margin-bottom: 10px;
}

#domainmapping-iframe-form h4,
.domainmapping-iframe-form h4{
    margin-top: 40px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
    font-size: 16px;
}

#domainmapping-iframe-form h4:first-child,
.domainmapping-iframe-form h4:first-child{
    margin-top: 0;
}

#domainmapping-iframe-form h4 i,
.domainmapping-iframe-form h4 i{
    margin-right: 5px;
	margin-top: 3px;
}

#domainmapping-iframe-form input[type="text"],
#domainmapping-iframe-form input[type="password"],
#domainmapping-iframe-form input[type="email"],
#domainmapping-iframe-form select,
.domainmapping-iframe-form input[type="text"],
.domainmapping-iframe-form input[type="password"],
.domainmapping-iframe-form input[type="email"],
.domainmapping-iframe-form select{
    float: none;
    width: 500px;
}

.domainmapping-field-required {
    color: red;
    font-weight: bold;
}

#domainmapping-ppp-overlay {
    display: none;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: -moz-none;
    user-select: -moz-none
}

#domainmapping-ppp {
    display: none;
    position: fixed;
    left: 50%;
    top: 45%;
    z-index: 9999;
    background-color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 5px solid black;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    font-family: "Lato", Helvetica Neue, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased !important;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: -moz-none;
    user-select: -moz-none
}

#domainmapping-ppp.domainmapping-ppp-error {
    border-color: #f55
}

#domainmapping-ppp.domainmapping-ppp-success {
    border-color: #6c6
}

#domainmapping-ppp-body {
    padding: 30px 20px;
    min-width: 400px;
    max-width: 700px;
    font-size: 16px;
    line-height: 24px
}

#domainmapping-ppp-body small {
    font-size: 13px;
    line-height: 19px;
    color: #222;
}

#domainmapping-ppp-footer {
    padding: 10px 20px
}

.domainmapping-ppp-success #domainmapping-ppp-footer {
    background-color: #dfd
}

.domainmapping-ppp-error #domainmapping-ppp-footer {
    background-color: #fdd
}

.wp-core-ui #domainmapping-content .button {
    padding-top: 1px;
    padding-bottom: 2px;
    height: auto;
    font-size: 14px;
}

.domainmapping-request-valid,
.domainmapping-request-invalid {
    color: white;
    padding: 1px 6px 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold
}

.domainmapping-request-invalid {
    background-color: #DB4A4A;
}

.domainmapping-request-valid {
    background-color: #56A356
}

#domainmapping-content .widefat td {
    font-size: 13px;
    line-height: 20px
}

#domainmapping-content .widefat thead tr th,
#domainmapping-content .widefat tfoot tr th {
    font-weight: bold
}

#domainmapping-content .tablenav .displaying-num {
    font-size: 13px
}

#domainmapping-content .tablenav .tablenav-pages {
    font-size: 13px
}

#domainmapping-reseller-log-table .tablenav.top {
    margin-bottom: 10px
}

#domainmapping-reseller-log-table .column-requested_at span {
    color: #aaa;
    display: block
}

#domainmapping-reseller-log-table .column-valid,
#domainmapping-reseller-log-table .column-action,
#domainmapping-reseller-log-table .column-requested_at {
    width: 200px
}

#domainmapping-content .subsubsub {
    font-size: 14px;
    line-height: 21px
}

.domainmapping-log-item-invalid {
    background-color: #fee;
}

.domainmapping-log-item-valid {
    background-color: #efe;
}

.domainmapping-purchase-paypal-link {
    margin-top: 5px;
    height: 26px;
    display: block;
    float: left;
}

.domainmapping-compressed-list {
    margin: 0;
}

.domainmapping-compressed-list > li {
    margin: 0;
    padding: 0;
}

.domainmapping-block-header {
    border-bottom: 1px dashed #ddd;
    margin: 40px 0 10px;
    padding-bottom: 10px;
}

.domainmapping-transparent-button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.domainmapping-paypal-form {
    margin-top: 5px;
}

.domainmapping-iframe {
    width: 60%;
    margin: 0 auto;
    padding: 30px 0;
}

#domainmapping-iframe-content {
    -moz-box-shadow: 0 0 7px #999;
    -webkit-box-shadow: 0 0 7px #999;
    box-shadow: 0 0 7px #999;
}

.domainmapping-push-right {
    float: right;
}

.domainmapping-push-left {
    float: left;
}

.domainmapping-form-buttons {
    margin-top: 50px;
}

#domainmapping-front-mapping {
	float: right;
}

#domainmapping-front-mapping > span {
	float: left;
	display: block;
	padding-top: 4px;
	margin-right: 5px;
}
.domainmapping-btn{
    cursor: pointer;
}
#domainmapping-whmcs-header{
    height: 60px;
    background: url("../images/whmcs-bg.jpg") center repeat-x;
}
#domainmapping-whmcs-logo{
    background: url("../images/whmcs-logo.jpg") no-repeat left center;
    height: 60px;
    margin-left: 10px;
}

#dm_whmcs_client_login th,
#dm_whmcs_client_login td{
    padding: 10px 0 0 0;
}
#dm_whmcs_client_login input[type="email"],
#dm_whmcs_client_login input[type="password"]{
    float: left;
    margin-left: 10px;
    width: 445px;
}
#dm_whmcs_client_login button{
    margin-left: 590px;
    margin-top: 20px;
}
.dm_whmcs_tlds{
    width: auto;
}
.dm_whmcs_tlds_remove_row{
    color: red;
    background:none;
    border: none;
    cursor: pointer;
}
.dm_whmcs_tlds_remove_col{
    float: right;
    color: red;
    background:none;
    border: none;
    cursor: pointer;
}
#whmcs-client-registration-label{

}
.domainmapping-map-toggle-scheme{
    float: left;
    text-decoration: none;
    margin-top: 5px;
}

table.domains .domainmapping-map-toggle-scheme{
    float: none;
}
table.domains td.column-actions a{
    margin: 5px;
}
.domainmapping-child-list-hidden{
    display: none;
}
#dm_excluded_pages{
    max-height: 300px;
    overflow-y:scroll;
    overflow-x: hidden;
    border:#eee solid 2px;
    border-bottom: 0;
}
.dm_excluded_page{
    background: #EEEEFF;
    color: #343434;
    height: 35px;
    line-height: 30px;
    padding: 0 1%;
    overflow: hidden;
    width: 98%;
    margin: 0;
    float: left;
    clear: right;
}
.dm_excluded_page:nth-child(2n){
    background: #fff;
}
.column-exclude, .column-force_ssl{
    width: 55px;
}
.column-force_ssl{
    width: 65px;
}
#dm_excluded_pages_search_spinner{
    margin-left: 220px;
    float: left;
    margin-top: 38px;
    position: absolute;
}
.dm_excluded_pages_label,
.dm_ssl_forced_pages_label{
    margin-top: 5px;
    display: block;
    float: left;
    margin-left: 10px;
}
.dm_ssl_forced_pages_label{
    margin-left: 15px;
}
.wp-list-table.excludedpages tbody td{
    border-bottom: 1px dashed #dfdfdf;
}
.domain-mapping-or-urls-title{
    margin-top: 0;
}
#save-exluded-pages{
}
#dm_excluded_page_urls,
#dm_ssl_forced_page_urls{
    width: 50%;
}
#dm_save_excluded_pages_form{
    padding: 10px;
}
.domainmapping-domains.domainmapping-box .tablenav{
    padding: 0 10px;
}
#domainmapping-front-mapping-spinner.spinner{
    visibility: hidden;
    margin-top: 0px;
    display: block;
}
.domainmapping-front-mapping-form-row p{
    font-weight: bold;
    font-size: 13px;
}
#mapping-tab del a{
    text-decoration: line-through;
}
#mapping-tab a del{
    color: #bbb;
}


/* 23435-1433408331 */